    html {
        background: #0F1313;
    }
    
    body {
        font-family: 'Roboto Slab', serif;
    }
    
    header {
        background: #1c5a4f;
        height: 120px;
        border: black 1px solid;
        border-radius: 12px;
        color: antiquewhite;
        box-sizing: border-box;
        box-shadow: 15px 15px 8px 12px #010204;
    }
    
    #home {
        background-color: #0f957e;
    }
    
    #mainh1 {
        padding-left: 40px;
        width: 70%;
        font-size: 40px;
        height: 17px;
    }
    
    h1 {
        padding-left: 40px;
        width: 70%;
        font-size: 40px;
        height: 17px;
    }
    
    header li {
        list-style: none;
        display: inline;
    }
    
    header a {
        text-decoration: none;
        color: antiquewhite;
    }
    
    header a :hover {
        color: white;
        background-color: black;
    }
    
    header nav ul {
        font-size: 18px;
        padding-right: 40px;
        background-color: #143d36;
        margin-right: 5px;
        height: 25px;
    }
    
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    header nav li {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    main {
        width: 98%;
        color: antiquewhite;
        display: inline-block;
        padding: 10px;
        padding-top: 40px;
    }
    
    #mainhxh {
        font-size: 23px;
        text-align: justify;
    }
    
    blockquote {
        font-size: 23px;
        text-align: center;
    }
    
    main h3 {
        font-size: 29px;
        text-align: center;
    }
    
    main img {
        margin: 15px 20px 10px 20px;
        display: flex;
        justify-content: center;
        border: whitesmoke 2px solid;
        border-radius: 5px;
    }
    
    .center {
        width: 68vw;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    
    .mainbutton {
        background-color: #1C465A;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        padding: 6px 25px;
        margin-top: 4px;
        border-radius: 5px;
        word-spacing: 8px;
        margin-left: 40px;
    }
    
    main a {
        text-decoration: none;
        color: white;
    }
    
    .mainbutton:hover {
        background-color: #112C38;
    }
    
    #btn {
        display: flex;
        justify-content: end;
    }
    
    i {
        font-size: 30px;
        color: black;
    }
    
    #fb {
        width: 149px;
        /* margin: 0%;
        position: relative;
        top: -65%;
        right: -3%; */
        transition: top 0.3s;
    }
    
    #ig {
        width: 105px;
        /* margin: 0%;
        position: relative;
        top: -58%;
        right: -1%; */
        transition: top 0.3s;
    }
    
    #fbig {
        display: flex;
        flex-flow: column wrap;
    }
    
    #fb:hover {
        text-decoration: underline;
    }
    
    #ig:hover {
        text-decoration: underline;
    }
    
    footer i:hover {
        color: whitesmoke;
    }
    
    footer a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    
    footer {
        height: 138px;
        display: block;
        color: antiquewhite;
        background: #1c5a4f;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        margin-top: 5;
    }
    
    @media only screen and (min-width: 1px) and (max-width: 510px) {
        body {
            margin: 0px;
        }
        header {
            height: 120px;
            width: 100%;
            display: grid;
            grid-template-rows: 60px 30px;
            grid-row-gap: 10px;
            grid-template-areas: "nav" "header";
        }
        #mainh1 {
            grid-area: header;
            padding: 0px;
            justify-self: center;
            align-self: center;
            width: 90%;
            font-size: 36px;
            height: 30px;
            text-align: center;
            margin-top: 0px;
        }
        h1 {
            grid-area: header;
            padding: 0px;
            justify-self: center;
            align-self: center;
            width: 90%;
            font-size: 36px;
            height: 40px;
            text-align: center;
            margin-top: 0px;
            margin-left: 19px;
        }
        header li {
            list-style: none;
        }
        header a {
            text-decoration: none;
            color: antiquewhite;
        }
        header a :hover {
            color: white;
            background-color: black;
        }
        header nav ul {
            font-size: 18px;
            background-color: transparent;
            height: 25px;
            padding-right: 0px;
            margin-right: 0px;
        }
        header nav {
            grid-area: nav;
            justify-self: center;
            align-self: start;
            display: block;
            width: 320px;
            height: 28px;
            /* padding: 0px 20px 0px 30px; */
            /*position: relative;
            right: 10px; */
        }
        main {
            width: 96%;
            padding-right: 5px;
        }
        /* .center {
            width: 68vw;
            margin: 10px 10px 10px 10px;
        } */
        #mainhxh {
            font-size: 12px;
        }
        main h3 {
            font-size: 22px;
            text-align: center;
        }
        blockquote {
            font-size: 14px;
            text-align: justify;
        }
        footer {
            height: 113px;
            width: 93%;
            text-align: justify;
            font-size: 11px;
        }
        footer p {
            position: relative;
            top: -4%;
            margin: 8px;
            text-align: center;
        }
        #fbig {
            width: 50%;
            margin-left: 0%;
        }
        #fb {
            width: 113px;
            /* margin: 0%;
            position: relative;
            top: -65%;
            right: -3%; */
            transition: top 0.3s;
        }
        #ig {
            width: 79px;
            /* margin: 0%;
            position: relative;
            top: -58%;
            right: -1%; */
            transition: top 0.3s;
        }
        footer a {
            padding: 0px 0px 0px 5px;
        }
    }